<div class="container-register">  
    <div class="title">
        <h1>Sign-in</h1>
    </div>

    <div class="input-group mb-3">
        <input 
        type="text"
        class="form-control"
        placeholder="Name"
        [(ngModel)]="name"
        name="name"
        required>
    </div>

    <div class="input-group mb-3">
        <input 
        type="text"
        class="form-control"
        placeholder="LastName"
        [(ngModel)]="last_name"
        name="last_name"
        required>
    </div>

    <div class="input-group mb-3">
      <input 
      type="text"
      class="form-control"
      placeholder="Username"
      [(ngModel)]="username"
      name="username"
      required>
    </div>
  
    <div class="mb-3">
    <input 
      type="password"
      class="form-control"
      placeholder="Password"
      [(ngModel)]="password"
      name="password"
      required>
    </div>
  
    <div class="input-group mb-3">
      <input 
      type="email"
      class="form-control"
      placeholder="Correo"
      [(ngModel)]="correo"
      name="correo"
      required>
    </div>

    <div class="input-group mb-3">
        <input 
        type="text"
        class="form-control"
        placeholder="Phone"
        [(ngModel)]="phone"
        name="phone"
        required>
    </div>
  
    <!-- Botón para enviar los datos -->
    <div class="button-sign">
      <button (click)="registerUser()">Sign</button>
    </div>  
  </div>