/* Contenedor del grid */
.vertical-grid {
  display: flex; /* Flexbox para layout horizontal */
  flex-direction: row; /* Dirección horizontal */
  position: relative;
  background-color: #b09cec;
  border-radius: 8px;
  width: 5vw; /* Tamaño fijo en estado minimizado */
  height: 10vw; /* Altura fija */
  text-align: left;
  overflow: hidden;
  transition: all 0.3s ease-in-out; /* Animación al expandir/reducir */
  cursor: pointer;
  margin-right: 1vw;
  margin-bottom: 1vw;
}

.image-container {
  position: relative; /* Para posicionar el botón */
  width: 5vw; /* Fija el ancho de la imagen */
  height: 10vw; /* Mantén la altura proporcional al grid */
}

.grid-image {
  width: 100%; /* Ajusta al contenedor */
  height: 100%; /* Ocupa toda la altura */
  object-fit: cover; /* Asegura que la imagen se vea bien */
}

.details {
  margin-left: 4vw;
  display: none; /* Oculta los detalles inicialmente */
  background-color: #b09cec;
  padding: 1rem;
  border-radius: 8px;
  color: #fff;
  width: 88vw; /* Ancho cuando está maximizado (80% del horizontal grid menos márgenes) */
  height: 88vw; /* Igualar altura al grid */
  overflow-y: auto; /* Scroll si es necesario */
  transition: all 0.3s ease-in-out; /* Suavizar la aparición */
}

.vertical-grid.maximized {
  width: 78vw; /* Ancho relativo al contenedor padre */
  height: 20vw; /* Mantén la altura fija */
}

.vertical-grid.maximized .details {
  display: flex; /* Muestra el contenido */
  flex-direction: row; /* Divide en dos columnas */
  gap: 1rem;
}

.info-left {
  flex: 1; /* Ocupa dos tercios del espacio */
  display: flex;
  flex-direction: column;
  gap: -20rem;
}

.info-left h3 {
  margin-bottom: 0.2rem; /* Reducir espacio debajo del título */
}

.info-left p {
  margin-bottom: 0.2rem; /* Reducir espacio entre párrafos */
}

.info-right {
  flex: 1; /* Ocupa un tercio del espacio */
  background-color: #555; /* Color más claro */
  border-radius: 8px;
  margin-left: 1rem;
  max-height: 18vw;
  width: 3vw;
}

.toggle-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.toggle-button img {
  margin-right: -0.8vw;
  margin-top: -1vw;
  width: 1.5vw;
  height: 1.5vw;
}

.toggle-button:hover img {
  filter: brightness(1.2);
}

/* Botón de cartera en la esquina derecha inferior */
.wallet-button {
  position: absolute;
  bottom: 1rem;  /* Ajusta la distancia desde el borde inferior */
  right: 1rem;   /* Ajusta la distancia desde el borde derecho */
  background-color: #2c2c2c;
  border-radius: 2vw;
  cursor: pointer;
  border: none;
  
  z-index: 10;   /* Asegura que el botón esté encima de otros elementos */
}

.wallet-button img {
  width: 4vw; /* Ajusta el tamaño del icono */
  height: 4vw;
  
  
}

/* Efecto al pasar el ratón por encima */
.wallet-button:hover img {
  transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el ratón */
  transition: transform 0.2s ease;
}
