.fondo {
    position: relative; /* o fixed */
    background-image: url('/fondo.jpg');
    background-size: cover; /* Opcional: para que se ajuste */
    padding: 2rem;
    min-height: 100vh;
  }
  
  .search-container {
    position: relative;
    z-index: 1;
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background: #d8ccf4;
    border-radius: 12px;
    box-shadow: 0 4px 12px #915487;
  
    .form-field {
      margin-bottom: 1.5rem;
  
      mat-form-field {
        width: 100%;
      }
    }
  
    .combo-field {
      display: flex;
      gap: 2rem;
      margin-bottom: 2rem;
  
      .counter {
        display: flex;
        align-items: center;
        gap: 0.5rem;
  
        label {
          margin-right: 1rem;
          font-weight: 500;
        }
  
        button {
          background:linear-gradient(135deg, #c285b9, #915487);
          border-radius: 50%;
        }
  
        span {
          min-width: 30px;
          text-align: center;
        }
      }
    }
  
    .search-button {
      width: 100%;
      padding: 1rem;
      font-size: 1.1rem;
      align-items: center;
      gap: 0.5rem;
      background: linear-gradient(135deg, #c285b9, #915487);
    }
  }
  
  .format-price {
    &::before {
      content: '$';
    }
  }
  