.container-register{
    margin-top:30px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 150px;
}
.button-sign{
    margin-top: 8px;
    display: flex;
    justify-content: center
}
.contrasena{
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}
.title{
    display: flex;
    justify-content: center
}