<div class="hg-container">
  <header class="hg-header">
    <img [src]="iconUrl" alt="icon" class="hg-header-icon" />
    <span class="hg-title">{{ title }}</span>
    <div class="hg-actions">
      <button class="hg-toggle-btn" (click)="toggleMinimize()">
        <img [src]="minimized ? './funcionalidades/minimizar.svg' : './funcionalidades/maximizar.svg'" 
             alt="Minimizar/Maximizar" 
             class="hg-toggle-icon" />
      </button>
    </div>
  </header>
  <div class="hg-content" [style.display]="minimized ? 'none' : 'block'">
    <ng-content></ng-content>
  </div>
</div>